
matplotlib
seaborn
plotly

# Modélisation
scikit-learn
keras

# Séries temporelles
statsmodels
prophet
tsfresh

# Web/API
requests
pyesios
python-dotenv
pyyaml
pyaemet
holidays
meteostat

# Dashboard
streamlit
dash

# Divers
tqdm
streamlit==1.32.2
tensorflow==2.15.0
xgboost==1.6.2
scikit-learn==1.1.3
numpy==1.23.5
pandas==1.5.3
keras-tuner==1.4.6
